<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Polcode_Shipping>
            <version>0.1.0</version>
        </Polcode_Shipping>
    </modules>
    
    <global>
        <models>
            <polcodeshipping>
                <class>Polcode_Shipping_Model</class>
                <resourceModel>polcodeshipping_resource</resourceModel>
            </polcodeshipping>
            <polcodeshipping_resource>
                <class>Polcode_Shipping_Model_Resource</class>
                <entities>
                    <shipping>
                        <table>polcode_shipping</table>
                    </shipping>
                </entities>
            </polcodeshipping_resource>
        </models>
        <helpers>
            <polcodeshipping>
                <class>Polcode_Shipping_Helper</class>
            </polcodeshipping>
        </helpers>
        <blocks>
            <polcodeshipping>
                <class>Polcode_Shipping_Block</class>
            </polcodeshipping>
        </blocks>
        
        <resources>
            <polcodeshipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </polcodeshipping_read>
            <polcodeshipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </polcodeshipping_write>
            <polcodeshipping_setup>
                <setup>
                    <module>Polcode_Shipping</module>
                </setup>
            </polcodeshipping_setup>
        </resources>
        
    </global>
    
    <default>
        <carriers>
            <polcodeshipping>
                <active>0</active>
                <show_delivery_date>0</show_delivery_date>
                <model>polcodeshipping/carrier</model>
                <title>Polcode Shipping Carrier</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>1</sallowspecific>
                <specificcountry>GB</specificcountry>
                <showmethod>0</showmethod>
                <sort_order>100</sort_order>
            </polcodeshipping>
        </carriers>
    </default>
    
    <frontend>
        <layout>
            <updates>
                <polcodeshipping>
                    <file>polcode/shipping.xml</file>
                </polcodeshipping>
            </updates>
        </layout>
    </frontend>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Polcode_Shipping before="Mage_Adminhtml">Polcode_Shipping_Adminhtml</Polcode_Shipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <polcodeshipping>
                    <file>polcode/shipping.xml</file>
                </polcodeshipping>
            </updates>
        </layout>
    </adminhtml>
    
</config>
