<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Polcode_Shipping>
            <version>0.6.0</version>
        </Polcode_Shipping>
    </modules>
    
    <global>
        <controllers>
            <Mage_Checkout>
                <rewrite>
                    <onepage>Polcode_Shipping_Onepage</onepage>
                    <cart>Polcode_Shipping_Cart</cart>
                </rewrite>
            </Mage_Checkout>
        </controllers>
        <models>
            <polcodeshipping>
                <class>Polcode_Shipping_Model</class>
                <resourceModel>polcodeshipping_resource</resourceModel>
            </polcodeshipping>
            <polcodeshipping_resource>
                <class>Polcode_Shipping_Model_Resource</class>
                <entities>
                    <shipping>
                        <table>polcode_shipping</table>
                    </shipping>
                    <shippingexcludes>
                        <table>polcode_shipping_excludes</table>
                    </shippingexcludes>
                </entities>
            </polcodeshipping_resource>
            <checkout>
                <rewrite>
                    <type_onepage>Polcode_Shipping_Model_Checkout_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order>Polcode_Shipping_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <polcodeshipping>
                <class>Polcode_Shipping_Helper</class>
            </polcodeshipping>
        </helpers>
        <blocks>
            <polcodeshipping>
                <class>Polcode_Shipping_Block</class>
            </polcodeshipping>
            <checkout>
                <rewrite>
                    <onepage_progress>Polcode_Shipping_Block_Onepage_Progress</onepage_progress>
                </rewrite>
            </checkout>
        </blocks>
        
        <resources>
            <polcodeshipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </polcodeshipping_read>
            <polcodeshipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </polcodeshipping_write>
            <polcodeshipping_setup>
                <setup>
                    <module>Polcode_Shipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </polcodeshipping_setup>
        </resources>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <save_date>
                        <type>singleton</type>
                        <class>polcodeshipping/observer</class>
                        <method>saveDeliveryDatetime</method>
                    </save_date>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_convert_order_to_quote>
                <observers>
                    <copy_delivery_date>
                        <type>singleton</type>
                        <class>polcodeshipping/observer</class>
                        <method>copyPolcodeShippingToQuote</method>                        
                    </copy_delivery_date>
                </observers>
            </sales_convert_order_to_quote>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <polcode_shipping_id>
                    <to_order>*</to_order>
                </polcode_shipping_id>
                <polcode_delivery_date>
                    <to_order>*</to_order>
                </polcode_delivery_date>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    
    <default>
        <carriers>
            <polcodeshipping>
                <active>0</active>
                <show_delivery_date>0</show_delivery_date>
                <model>polcodeshipping/carrier</model>
                <title>Shipping on Selected Day and Time</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>1</sallowspecific>
                <specificcountry>GB</specificcountry>
                <showmethod>0</showmethod>
                <sort_order>100</sort_order>
            </polcodeshipping>
        </carriers>
    </default>
    
    <frontend>
        <layout>
            <updates>
                <polcodeshipping>
                    <file>polcode/shipping.xml</file>
                </polcodeshipping>
            </updates>
        </layout>
        <routers>
            <deliverytime>
                <use>standard</use>
                <args>
                    <module>Polcode_Shipping</module>
                    <frontName>deliverytime</frontName>
                </args>
            </deliverytime>
            <checkout>
               <args>
                    <modules>
                        <Polcode_Shipping before="Mage_Checkout">Polcode_Shipping</Polcode_Shipping>
                    </modules>
               </args>
            </checkout>
        </routers>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <polcode_helloworld_layout_load_before>
                        <class>polcodeshipping/observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </polcode_helloworld_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Polcode_Shipping before="Mage_Adminhtml">Polcode_Shipping_Adminhtml</Polcode_Shipping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <polcodeshipping>
                    <file>polcode/shipping.xml</file>
                </polcodeshipping>
            </updates>
        </layout>
    </adminhtml>
    
</config>
